@charset 'utf-8';
@import './reset.css';

:root[color-theme='light'] {
  /* light theme */
  --primary-text-color: hsl(200, 15%, 8%);
  --primary-background-color: hsl(0, 0%, 98%);
  --secondary-background-color: hsl(0, 0%, 100%);
  --placeholder-text: hsl(0, 0%, 77%);
}

:root[color-theme='dark'] {
  /* dark theme */
  --primary-text-color: hsl(0, 0%, 100%);
  --primary-background-color: hsl(207, 26%, 17%);
  --secondary-background-color: hsl(209, 23%, 22%);
  --placeholder-text: hsl(0, 0%, 100%);
}

html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  background-color: var(--primary-background-color);
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  background-color: var(--secondary-background-color);
  box-shadow: 0rem 0.125rem 0.25rem hsla(0, 0%, 0%, 0.056);
  padding: 1.875rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: var(--primary-text-color);
  font-weight: 800;
  font-size: 0.875rem;
  line-height: calc(20 / 14);
}

button {
  font-size: 0.75rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  line-height: calc(16.37 / 12);
  transition: transform 450ms;
  color: var(--primary-text-color);
}

button:hover {
  transform: scale(1.2);
  transition: transform 150ms;
  text-decoration: underline;
}

:root[color-theme='dark'] .crescent-svg-path {
  stroke: var(--primary-text-color);
}

.search {
  background: var(--secondary-background-color)
    url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.111 9.778H10.4l-.267-.267a5.564 5.564 0 0 0 1.423-3.733C11.556 2.578 8.978 0 5.778 0A5.766 5.766 0 0 0 0 5.778c0 3.2 2.578 5.778 5.778 5.778a5.564 5.564 0 0 0 3.733-1.423l.267.267v.711l4.444 4.445 1.334-1.334-4.445-4.444Zm-5.333 0c-2.222 0-4-1.778-4-4s1.778-4 4-4 4 1.778 4 4-1.778 4-4 4Z' fill='%23B2B2B2'/%3E%3C/svg%3E")
    no-repeat 2rem 50%;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: calc(20 / 12);
  padding: 0.875rem 9.5625rem 0.875rem 4.625rem;
  border-radius: 0.3125rem;
  margin: 1.5rem 1rem 2.5rem;
  width: calc(100% - 2rem);
  box-shadow: 0 0.125rem 0.5625rem 0 hsla(0, 0%, 0%, 0.055);
}

::placeholder {
  color: var(--placeholder-text);
}

:root[color-theme='dark'] .search {
  background: var(--secondary-background-color)
    url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.111 9.778H10.4l-.267-.267a5.564 5.564 0 0 0 1.423-3.733C11.556 2.578 8.978 0 5.778 0A5.766 5.766 0 0 0 0 5.778c0 3.2 2.578 5.778 5.778 5.778a5.564 5.564 0 0 0 3.733-1.423l.267.267v.711l4.444 4.445 1.334-1.334-4.445-4.444Zm-5.333 0c-2.222 0-4-1.778-4-4s1.778-4 4-4 4 1.778 4 4-1.778 4-4 4Z' fill='%23FFFFFF'/%3E%3C/svg%3E")
    no-repeat 2rem 50%;
  caret-color: var(--primary-text-color);
}

select {
  padding: 0.875rem 5.6875rem 0.875rem 1.5rem;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 0.75rem;
  line-height: calc(20 / 12);
  margin: 0 9.9375rem 0.25rem 1rem;
  box-shadow: 0 0.125rem 0.5625rem 0 hsla(0, 0%, 0%, 0.055);
  background: var(--secondary-background-color)
    url('data:image/svg+xml,%3Csvg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M7.875 2.875L5 5.75L2.125 2.875L1.25 3.75L5 7.5L8.75 3.75L7.875 2.875Z" fill="black"/%3E%3C/svg%3E%0A')
    no-repeat right 1.1875rem top 50%;
  border-radius: 0.3125rem;
  color: var(--primary-text-color);
}

option[value='Polar'],
option[value='Antarctic'],
option[value='Antarctic Ocean'] {
 display: none;
}

:root[color-theme='dark'] select {
  background: var(--secondary-background-color)
    url('data:image/svg+xml,%3Csvg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M7.875 2.875L5 5.75L2.125 2.875L1.25 3.75L5 7.5L8.75 3.75L7.875 2.875Z" fill="white"/%3E%3C/svg%3E%0A')
    no-repeat right 1.1875rem top 50%;
}

.items-container {
  display: flex;
  flex-direction: column;
}

.country-item {
  display: flex;
  flex-direction: column;
  margin: 40px 56px;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  background-color: var(--secondary-background-color);
  border-radius: 0 0 5px 5px;
  min-height: 21rem;
  width: 16.5rem;
  list-style: none;
}

h2 {
  color: var(--primary-text-color);
  font-size: 1.125rem;
  font-weight: 800;
  margin: 1.5rem auto 1rem 1.5rem;
  line-height: calc(26 / 18);
}

.country-flag {
  height: 10rem;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  background: hsl(0, 0%, 50%);
}

.country-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto 2.875rem 1.5rem;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--primary-text-color);
}

.country-info span {
 font-weight: 600;
}
